# Python virtual environment
.venv/

# Python version file
.python-version

# Ignorar archivos .pyc y carpetas __pycache__/
__pycache__/
*.pyc

# Ignorar archivos de configuración
*.env*

# Ignorar archivos de configuración de IDEs
.vscode/


logs.txt